@charset "utf-8";
/* CSS Document */

div.pagination {
	padding: 3px;
	margin: 3px;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #666;
	
	text-decoration: none; /* no underline */
	color: #414042;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #414042;

	color: #666;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
		border: 1px solid #666;
		
		font-weight: bold;
		background-color: #FFF;
		color:#666;
	}
	div.pagination span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #666;
		background-color: #666;
		color: #FFF;
	}
	